
#ph {
  text-align: center;
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  }
.project1 {
display: grid;
background: #F0F0F0;
border-radius: 30px;
padding: 50px;
margin: 90px;
width: 1240px;
height: 431px;

}
.project2 {
  display: grid;
  background: #F0F0F0;
  border-radius: 30px;
  padding: 50px;
  margin: 90px;
  width: 1240px;
  height: 431px;
  
  }
  .project3 {
    display: grid;
    background: #F0F0F0;
    border-radius: 30px;
    padding: 50px;
    margin: 90px;
    width: 1240px;
    height: 431px;
    
    }
#p1i {
 padding-left: 750px;
 position: relative; 
 top: -210px;
}
#p2i {
  padding-left: 700px;
  position: relative; 
  top: -185px;
 }
#p3i {
  padding-left: 700px;
  position: relative; 
  top: -220px;
 }
 #p1h {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 600;
  margin-top: 90px;
  font-size: 32px;
  line-height: 0px;
  color: #8F00FF;
 }
 #p2h {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #8F00FF;
  margin-top: 30px;
 }
 #p3h {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #8F00FF;
 }
 #p1p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  margin-top: 100px;
  width: 500px;
  font-size: 30px;
  line-height: 37px;
  color: #6E6E73;
 }
 #p2p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-top: 100px;
  width: 500px;
  line-height: 37px;
  color: #6E6E73;
}
#p3p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  margin-top: 200px;
  width: 500px;
  font-size: 30px;
  line-height: 37px;
  color: #6E6E73;
 
}
.flexContainer {
  display: flex;
  padding: 15px;
  position: bottom;
}
.flexChild {
  width: 33%;
  margin: 102px;
  align-content: center;
}
#sh {
text-align: center;
font-family: Gothic A1;
font-style: normal;
font-weight: bold;
font-size: 28px;
color: #000000;
}
#p1 {
font-family: Gothic A1;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 37px;
text-align: center;
color: #6E6E73;
}
#p2 {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #6E6E73;
  }
  #p3 {
    margin-right: 5px; 
    font-family: Gothic A1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #6E6E73;
    }
#h1 {
text-align: center;
font-family: Gothic A1;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
color: #000000;
}
#h2 {
  text-align: center;
  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  }
  #h3 {
    text-align: center;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    }
    #i1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    @media only screen and (max-width: 600px){
      .flexContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        position: bottom;
      }
    }  
    @media only screen and (max-width: 600px){
      .project1 {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
      }
    }
    @media only screen and (max-width: 600px){
      .project2 {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
      }
    }
    @media only screen and (max-width: 600px){
      .project3 {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
      }
    }